<div class="row">
	<div class="col-md-12">
		<div class="jumbotron"><!-- Standard button -->
			<p >DTAG’S est une société spécialisée pour le nettoyage des tags, graffitis, affiches et autres salissures visuelles. C’est notre seule activité car l’étendue des produits utilisés pour taguer ainsi que les surfaces à traiter requièrent une expertise spécifique non maitrisée par des sociétés généralistes.</p>
			<p class="large">DTAG’S vous propose une <b>alternative unique</b> avec un <b>nettoyage non abrasif</b> respectueux des surfaces traitées.  Cette approche nouvelle a été développée aux Etats Unis, pays précurseur en matière de lutte anti graffitis.  Il s’agit de produits biodégradables</b> qui vont dissoudre les tags <b>sans altérer les supports</b> sur lesquels ils ont été dessinés.</p>
			<p class="large">Fort d’une expérience de 8 ans d’utilisation de ces produits à Genève  et en partenariat avec TagsOffTM , DTAG’S est en mesure aujourd’hui, , de nettoyer  vos graffitis avec  la gamme WB Graffiti Removal System lavage eau chaude haute pression, sans avoir recours au micro sablage, aerogommage ou hydrogommage connus pour leur propriété très abrasive laissant souvent une trace visible du tags, ou de la surface décapée : <b>le spectre.</b></p>
		</div>
	</div>
</div>