<div class="row">
	<div class="col-md-12">
		<div class="jumbotron"><!-- Standard button -->
			<p >Chaque tag doit être traité spécifiquement en fonction de  deux paramètres:</p>
			<ul>
				<li>Le support: béton, pierre, murs peints, thermoplanqué plastiques et bois, métal, bois, plastiques...</li>
				<li>Les tags: bombe acrylique, peintures, encres, marqueurs, affiches, goudrons, acides...</li>
			</ul>
		</div>
		<div class="col-md-12">
			<h3><span class="glyphicon glyphicon-plus"> </span> Un nettoyage en 3 phases </h3>
			<ol>
				<li>Analyse du couple (interaction) support/tag suivi d’un test pour valider la meilleure combinaison.</li>
				<li>Traitement du tag, selon la nature du support ou du tag un ou plusieurs traitements devront être appliqués.</li>
				<li>Restauration du support avec un nettoyage haute pression eau chaude</li>
			</ol>
			<h3><span class="glyphicon glyphicon-plus"> </span> Une solution durable :</h3>
			<p class="lead">Du fait de leur localisation, certains murs sont régulièrement tagués, DTAG’S vous apporte une solution de protection longue durée grâce à l’application d’une peinture de protection, bénéficiant de nombreux avantages:</p>
			<ul>
				<li>Invisiblité: l’aspect visuel du support reste intact.</li>
				<li>Perméablité à l’air: la pierre peut ainsi respirer empêchant l’humidité de s’accumuler.</li>
				<li>Lavable: en cas de nouveaux tags, un lavage à l’eau chaude suffit pour effacer le tag</li>
			</ul>
		</div>
	</div>
</div>