<div class="row">
	<div class="col-md-12">
		<div class="jumbotron"><!-- Standard button -->
			<p>Nous employons une gamme complète de produits adaptés aux différents supports et aux peintures, encres, utilisés par les tagueurs. Ces produits sont biodégradables et n’ont donc pas d’impact majeur sur l’environnement, pas de microparticules  de peintures, plombs, solvants, comme celles  crées par le gommage.</p>
		</div>
		<div class="col-md-12" style="padding-bottom:15px">
			<div class="col-md-4">
				<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="..." class="img-rounded center-block">
			</div>
			<div class="col-md-8">
				<p class="lead"><b>Un véhicule</b> spécialement équipé avec tout le matériel nécessaire pour une intervention rapide et complète. Son encombrement  minimum  lui permet d’accéder sans difficulté  aux zones piétonnes, trottoirs et ruelles étroites souvent propices aux tags.</p>
			</div>
		</div>
		<div class="col-md-12" style="padding-bottom:15px">
			<div class="col-md-4">
				<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="..." class="img-rounded center-block">
			</div>
			<div class="col-md-8">
				<p class="lead"><b>Les accessoires</b> indispensables pour une intervention et réponse adaptée aux circonstances particulières:</p>
				<ul>
					<li>Une lance extensible jusqu’à 8 mètres, idéale pour décoller les affiches sous les ponts. Aucun échafaudage est nécessaire, réduisant ainsi les coûts.</li>
					<li>Une cloche de nettoyage pour les sols</li>
					<li>Buse rotative pour une plus grande puissance de nettoyage</li>
				</ul>
			</div>
		</div>
		<div class="col-md-12" style="padding-bottom:15px">
			<div class="col-md-4">
				<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="..." class="img-rounded center-block">
			</div>
			<div class="col-md-8">
				<p class="lead"><b>Une centrale</b> d'eau chaude haute pression  250 bars 20-70°C  pour un nettoyage optimal après traitement </p>
			</div>
		</div>
	</div>
</div>