<div class="row">
	<div class="col-md-12">
		<div class="jumbotron"><!-- Standard button -->
			<p >Notre objectif est de restaurer l’aspect visuel du support tel qu’il était avant sa dégradation. Selon le type de support et sa localisation nous vous proposerons différentes solutions adaptés à votre budget. 
			</p>
		</div>
		<div class="col-md-12">
			<h3><span class="glyphicon glyphicon-plus"> </span> Rapidité d'action</h3>
			<p class="lead"> Parce qu’un tag qui reste une semaine <b>multiplie par 10</b> le risque d’attirer un autre tag, il faut agir vite ! Nous intervenons en moins de 72 heures !</p>
			<h3><span class="glyphicon glyphicon-plus"> </span> Une offre complète</h3>
			<p class="lead">Pour toute intervention, nous nous engageons à vous fournir:</p>
			<ul>
				<li>Un devis après analyse de la dégradation visuelle</li>
				<li>Le nettoyage  du graffiti</li>
				<li>La  restauration du support dans la mesure du possible</li>
				<li>Un rapport d’intervention qui pourra être utilisé pour une déclaration à la police ou aux assurances</li>
				<li>Une proposition de protection du support</li>
				<li>Un contrat d’assurance murs propres</li>
			</ul>
			<h3><span class="glyphicon glyphicon-plus"> </span> Autres prestations</h3>
			<ul>
				<li>Nettoyage de sols</li>
				<li>Traitement antimousse de terrasses, toitures</li>
				<li>Désherbage vapeur</li>
				<li>Nettoyage coque de bateaux ou autres matériels</li>
			</ul>
		</div>
	</div>
</div>