
@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */


.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
  font-weight: bold;
}

.jumbotron {
	background-color: #4aae68;
}

h3 {
	color: #2ab6c9;
}